AiFw/Project-1/01-学号-姓名-图像分类数据集收集
AiFw/Project-2/报告
AiFw/Project-2/乱七八糟
AiFw/Project-2/inference/onnx-weight
AiFw/Project-2/inference/test
AiFw/Project-2/inference/weight
AiFw/Project-2/Tiger
AiFw/Project-2/Tiger.zip
AiFw/AiWeb(1).zip
AiFw/Project-2/AiWeb/.idea
AiFw/Project-2/AiWeb/app01/weight

ComputerNetworking/实验
ComputerNetworking/计算机网络自顶向下方法(第六版)第3章.ppt

Crawler/实验
Crawler/week3
Crawler/week4
Crawler/week5
Crawler/12-19.py

django_class/21011120425-李昊恒-请求与响应
django_class/实验三
django_class/实验四
django_class/djangoProject2/.idea
django_class/djangoProject/21011120425-李昊恒.zip
django_class/21011120425-李昊恒-环境配置.doc

html_css/.vscode
html_css/实验
html_css/class

班级课表.xls

三好学生
就业指导

.gitignore